@model G07_Taijitan.Models.Domain.Sessie
@{
    ViewData["Title"] = "Aanwezigheden";
}

<body>
    <div class="container">
        <h2>Leden</h2>
        <div id="ledenLijst" class="col-md-12">

            <div class="keuze">
                Naam
            </div>

            @foreach (var x in Model.Ledenlijst)
            {<div class="col-md-6">
                    <div class="lijst text-center" id="@x.Gebruikersnaam" onclick="registreerAanwezigheid('@x.Gebruikersnaam')">
                        @x.Gebruikersnaam
                    </div>
                </div>
            }
        </div>
    </div>
</body>