@model G07_Taijitan.Models.Domain.Sessie
@{
    ViewData["Title"] = "Aanwezigheden";
}
<body>
    <div class="container">
        <h2>Leden</h2>
        <table id="sessietable">
            <tr>
                <th>Naam</th>
            </tr>
            @foreach (var x in Model.Ledenlijst)
            {           
            <tr>
                <td>
                    @x.Gebruikersnaam
                </td>                              
            </tr>
            }
        </table>
    </div>
</body>