@model G07_Taijitan.Models.Domain.Sessie
@{
    ViewData["Title"] = "Aanwezigheden";
}

<body>
    <table>
        @foreach (var x in Model.Ledenlijst)
        {
            <tr>
                <th>@x.Gebruikersnaam</th>
            </tr>
        }
    </table>
</body>