@model IEnumerable<G07_Taijitan.Models.Domain.Gebruiker.Lid>
@{
    ViewData["Title"] = "Aanwezigheden";
}

<body>
    <div class="container">
        <h2>Leden</h2>
        <div id="ledenLijst" class="col-md-12">

            <div class="keuze">
                Naam
            </div>
            <div id="leden">
                @foreach(var x in Model) {<div class="col-md-6">
                        <div class="leden lijst text-center" id="@x.Gebruikersnaam" onclick="registreerAanwezigheid('@x.Gebruikersnaam')">
                            @x.Gebruikersnaam
                        </div>
                    </div>
                }
            </div>
            <form action="registreerAanwezigheden" method="post">
                <input id="aanwezig" type="hidden" name="AanwezigeLedenIds" value="" />
                <input id="afwezig" type="hidden" name="AfwezigeLedenIds" value="" />
                <button type="submit" onclick="aanwezighedenRegistreren()" class="btn btn-primary">Stop registratie</button>
            </form>
        </div>
    </div>
</body>