@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Geen toegang";
}
<link href="~/css/website.css" rel="stylesheet" />
<div class="container">
    <img src="~/images/logogroot.png" alt="Logo Taijitan Yoshin Ryu" class="logogroot center-block" />
    <h2 class="black text-center">U heeft geen toegang tot dit materiaal :(</h2>
</div>