@model IEnumerable<G07_Taijitan.Models.Domain.LesMateriaal.Foto>

@{
    ViewData["Title"] = "Afbeeldingen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/website.css" rel="stylesheet" type="text/css">
<h2>@ViewData["Title"]</h2>

@foreach(var foto in Model) {
    
        var base64 = Convert.ToBase64String(foto.Image);
        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
    
    <img src="@imgSrc" />
    <p>@foto.Naam</p>
}

