
@{
    ViewData["Title"] = "LesMateriaal";
}
<link href="~/css/website.css" rel="stylesheet" />
<h2>LesMateriaal</h2>
<iframe src="@Url.Action("Materiaal","Graad")" width="400", height="300"></iframe>
