
@{
    ViewData["Title"] = "OefeningMateriaal";
   
}

<h2>@ViewData["Title"]</h2>
<div>
    <div class="col-sm-4 col-md-4">
        <p class="btn btn-primary text-center keuze" onclick="checkType(lesmateriaal, 'url')">Video</p>
    </div>
    <div class="col-sm-4 col-md-4">
        <a class="btn btn-default text-center keuze" onclick="checkType(lesmateriaal, 'image')">Afbeeldingen</a>
    </div>
    <div class="col-sm-4 col-md-4">
        <a class="btn btn-default text-center keuze" onclick="checkType(lesmateriaal, 'file')">Tekstmateriaal</a>
    </div>
</div>

<body onload="determineMaterial(@((int)ViewData["oefeningid"]),'url')">
    <div id='Material'>

    </div>

</body>


