
@{
    ViewData["Title"] = "OefeningMateriaal";
}

<h2>OefeningMateriaal</h2>
@section Scripts{
    <script type="text/javascript">
        function determineMaterial() {
            $.ajax({
                url: "/Graad/OefeningMateriaal",
                type: "POST",
                succes: function (data) {
                    $("#Material").empty();
                    data.forEach(function (element) {
                        $("#Material").append("<option>" + element.Url + "</option>");
                    });
                    error: function() {
                        $("#Material").empty();
                    }
                }
            });
        }
    </script>
}