@model IEnumerable<G07_Taijitan.Models.Domain.Oefening>
@{
    ViewData["Title"] = "Oefening";
}
<link href="~/css/website.css" rel="stylesheet" />
<h2>Oefeningen</h2>
<div class="col-md-12">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-6">
            <a class="keuze text-center" asp-controller="Graad" asp-action="OefeningMaterialView" asp-route-oefeningid="@item.OefeningId">@item.Naam</a>
        </div>
    }
</div>



