@model IEnumerable<G07_Taijitan.Models.Domain.Gebruiker.Gebruiker>

@{
    ViewData["Title"] = "GebruikerInformatie";
}

<h2>@ViewData["Title"]</h2>

<div>
    @* automatisch dag selecteren nog toe voegen *@
    @* basic view atm *@
    <ul class="list-group">
        @foreach(var user in Model) {

            <li class="list-group-item">
                @(user.Naam + " " + user.Voornaam)
            </li>


        }
        </ul>

</div>

