
@{
    ViewData["Title"] = "KeuzeScherm";
}

<link href="~/css/website.css" rel="stylesheet" type="text/css">

<body>
    <div>
        <h2>KeuzeScherm</h2>
        <div class="col-sm-6 col-md-6">
            <a class="btn btn-default text-center keuze" asp-controller="Sessie" asp-action="Aanwezigheden">Sessie starten</a>
        </div>
        <div class="col-sm-6 col-md-6">
            <a class="btn btn-default text-center keuze" asp-controller="Graad" asp-action="Index">Lesmateriaal raadplegen</a>
        </div>
    </div>

</body>


