@model IEnumerable<G07_Taijitan.Models.Domain.Oefening>

@{
    ViewData["Title"] = "Uw Oefeningen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>
@foreach(var oefening in Model) {
<div class="container">      
    <div class="col-xs-6 col-sm-4 col-md-3">
        <h3>@oefening.Naam</h3>
    </div>
</div>
}

