@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<link href="~/css/website.css" rel="stylesheet" />
<h1 class="text-danger">Fout.</h1>
<h2 class="text-danger">Je probeert een pagina te bezoeken die helaas niet bestaat.</h2>

