@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<link href="~/css/website.css" rel="stylesheet" />
<div class="container">
    <img src="~/images/logogroot.png" alt="Logo Taijitan Yoshin Ryu" class="logogroot center-block" />
    <h2 class="black text-center">Je probeert een pagina te bezoeken die helaas niet bestaat.</h2>
</div>


